# **Data Types and Structures – Theory Answers**

### 1. What are data structures, and why are they important?
Data structures are specialized formats for organizing, processing, and storing data. They are essential because they allow efficient access, modification, and management of data in programming.

### 2. Explain the difference between mutable and immutable data types with examples.
- **Mutable:** Can be changed after creation (e.g., `list`, `dict`).  
  Example: `my_list = [1, 2]; my_list.append(3)`
- **Immutable:** Cannot be changed after creation (e.g., `str`, `tuple`).  
  Example: `text = "hello"; text[0] = "H"` → Error

### 3. What are the main differences between lists and tuples in Python?
- Lists are mutable, slower, and use square brackets `[]`.  
- Tuples are immutable, faster, and use parentheses `()`.

### 4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs using a hash table, which allows for fast retrieval based on the key.

### 5. Why might you use a set instead of a list in Python?
Sets automatically remove duplicate elements and provide faster membership testing compared to lists.

### 6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is a mutable sequence of elements (which can be of any type).

### 7. How do tuples ensure data integrity in Python?
Tuples are immutable, which means their contents cannot be altered after creation, ensuring the integrity of fixed data sets.

### 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that stores key-value pairs using a hash function to compute the index for each key. Python dictionaries are implemented using hash tables.

### 9. Can lists contain different data types in Python?
Yes, Python lists can contain elements of varying data types such as integers, strings, lists, etc.

### 10. Explain why strings are immutable in Python.
Strings are immutable to improve performance, enable thread safety, and ensure hash consistency (useful for using strings as dictionary keys).

### 11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries allow fast lookups and access by key, making them ideal for tasks involving labeled data, unlike lists which rely on index-based access.

### 12. Describe a scenario where using a tuple would be preferable over a list.
Tuples are ideal when storing constant data like coordinates (`(x, y)`) or configuration settings that should not be modified.

### 13. How do sets handle duplicate values in Python?
Sets automatically discard any duplicate values and only retain unique elements.

### 14. How does the “in” keyword work differently for lists and dictionaries?
- In a list: Checks if a value exists.  
- In a dictionary: Checks if a key exists.

### 15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable, meaning their elements cannot be added, removed, or changed after creation.

### 16. What is a nested dictionary, and give an example of its use case.
A nested dictionary contains another dictionary as a value.  
Example: `{"student": {"name": "Alice", "age": 20}}`  
Use case: Representing complex data like user profiles or JSON objects.

### 17. Describe the time complexity of accessing elements in a dictionary.
On average, dictionary access has a time complexity of **O(1)** due to hash-based indexing.

### 18. In what situations are lists preferred over dictionaries?
When order is important, or when data does not require unique identifiers/keys—like a sequence of items or records.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Prior to Python 3.7, dictionaries didn’t maintain insertion order. Even now, their primary access mechanism is by key, not position, which affects iteration and retrieval if order matters.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
- **List:** Access via numerical index (`list[0]`)  
- **Dictionary:** Access via key (`dict["name"]`)

# **Practical Questions – Python Code**

In [1]:
# 1. Create a string with your name and print it
name = "Tushar Dhankhar"
print(name)

Tushar Dhankhar

In [ ]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
# 3. Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [ ]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [ ]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# 10. Reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [ ]:
# 15. Create a tuple with fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [2]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Tushar", "age": 22, "city": "Alwar"}
print(person)

{'name': 'Tushar', 'age': 22, 'city': 'Alwar'}

In [ ]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
# 23. Access the value associated with the key "name"
person = {'name': 'Tushar', 'age': 22}
print(person["name"])

Tushar

In [4]:
# 24. Remove the key "age" from the dictionary
d = {'name': 'Tushar', 'age': 22, 'city': 'Alwar'}
d.pop("age")
print(d)

{'name': 'Tushar', 'city': 'Alwar'}

In [5]:
# 25. Check if the key "city" exists in the dictionary
d = {'name': 'Tushar', 'age': 22, 'city': 'Alwar'}
if "city" in d:
    print("city exists in the dictionary")
else:
    print("city does not exist in the dictionary")

city exists in the dictionary

In [ ]:
# 26. Create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 7, "b": 8, "c": 9}
print(f"List: {lst}")
print(f"Tuple: {t}")
print(f"Dictionary: {d}")

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [ ]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it, and print the result
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[46, 51, 71, 81, 91]

In [ ]:
# 28. Create a list with strings and print the element at the third index
strings = ["apple", "banana", "cherry", "date", "fig"]
print(strings[3])

date

In [ ]:
# 29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Convert a list of strings into a set
words = ["apple", "banana", "apple", "cherry"]
print(set(words))

{'banana', 'cherry', 'apple'}